<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pigxia.gmall.manager.mapper.PmsSkuInfoDao">

    <!--根据spu属性和属性值表和spuid查出对应的spu，在关联sku的属性和属性值表查询具体的某一个sku-->
    <select id="selectSkuSaleAttrValueListBySpu" resultMap="SkuSaleAttrValueList">
                SELECT
                si.*,ssav.* ,si.id as si_id,ssav.sale_attr_value_id as ssav_id
                FROM
                    pms_sku_info si,
                    pms_sku_sale_attr_value ssav
                WHERE
                    si.id = ssav.sku_id
                    AND si.product_id = #{productId}
    </select>
    <resultMap id="SkuSaleAttrValueList" type="com.pigxia.gmall.bean.PmsSkuInfo" autoMapping="true">
        <result column="si_id" property="id"></result>
        <collection property="skuSaleAttrValueList" ofType="com.pigxia.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">
            <result column="ssav_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>
